/* Frontend Styles */
/* Base */
a {
  color: inherit;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
a:hover, a:active, a:focus {
  color: inherit;
  text-decoration: underline;
  cursor: pointer;
}

form {
  color: #000000;
}
form p {
  font-size: 1em;
  margin-bottom: 1rem;
}
form label {
  margin: 0;
  width: 100%;
}

input[type=text],
input[type=email],
input[type=tel],
input[type=number],
input[type=password],
textarea,
select {
  width: 100%;
  padding: 8px;
  border: none;
  border-bottom: 3px solid #e4e2e2;
  border-radius: 0;
  background-clip: padding-box;
  box-sizing: border-box;
  background-color: #e4e2e2;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus,
input[type=number]:focus,
input[type=password]:focus,
textarea:focus,
select:focus {
  color: #e4e2e2;
  border-color: #e4e2e2;
  outline: none;
}

input[type=submit] {
  display: block;
  margin: 0 auto;
  padding: 7px 25px;
  text-transform: uppercase;
  border: 2px solid #ffce00;
  border-radius: 50px;
  font-weight: 600;
  color: #000000;
  background: #ffce00;
  box-sizing: border-box;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
input[type=submit]:hover, input[type=submit]:active, input[type=submit]:focus {
  border-color: #e6b900;
  color: #000000;
  background: #e6b900;
}

textarea {
  max-height: 100px;
}

select {
  position: relative;
  width: 100%;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
  background-image: url("../../svg/dropdown-arrow.svg");
  background-position: right 10px center;
  background-repeat: no-repeat;
  background-size: auto 50%;
  /* IE11 hide native button */
}
select::-ms-expand {
  display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  transition: background-color 5000s ease-in-out 0s;
  border: none;
  box-shadow: 0 0 0 1000px transparent inset;
  -webkit-text-fill-color: #000000;
  border: none;
  border-bottom: 3px solid #e4e2e2;
  border-radius: 0;
}

::placeholder {
  color: #26211d;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #26211d;
}

::-ms-input-placeholder {
  color: #26211d;
}

/* Layout */
#header {
  position: absolute;
  width: 100%;
  z-index: 1080;
}
#header .navbar {
  color: #ffffff;
  background: #02216a;
}
#header.sticky {
  position: relative;
}
#header.sticky .navbar {
  position: fixed;
  top: 0;
  width: 100%;
}

.footer {
  background-color: #02216a;
}

.footer-widgets {
  padding: 4rem 0;
}
.footer-widgets .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  align-items: stretch;
  text-align: center;
}
@media (min-width: 992px) {
  .footer-widgets .container {
    flex-direction: row;
    text-align: initial;
  }
}
.footer-widgets .widget-column {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}
.footer-widgets .widget {
  color: #ffffff;
}
.footer-widgets .widget ul {
  list-style: none;
  padding: 0;
}
@media (min-width: 992px) {
  .footer-widgets .widget ul {
    padding: initial;
  }
}
.footer-widgets .widget .widget-title {
  margin-bottom: 30px;
  color: #ffffff;
}
.footer-widgets .widget_block h1,
.footer-widgets .widget_block h2,
.footer-widgets .widget_block h3,
.footer-widgets .widget_block h4,
.footer-widgets .widget_block h5,
.footer-widgets .widget_block h6 {
  margin-bottom: 30px;
}
.footer-widgets .wp-block-media-text {
  gap: 0.5rem;
}
@media (min-width: 992px) {
  .footer-widgets .wp-block-media-text.is-stacked-on-mobile .wp-block-media-text__media {
    justify-content: flex-start;
  }
}
@media (max-width: 991.98px) {
  .footer-widgets .wp-block-social-links {
    justify-content: center;
  }
}
@media (max-width: 991.98px) {
  .footer-widgets .wp-block-buttons {
    justify-content: center;
  }
}

.footer-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0 2rem;
  padding: 0;
  list-style: none;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
  color: #ffffff;
}
@media (min-width: 992px) {
  .footer-menu {
    flex-direction: row;
  }
}

.footer-copyright {
  font-size: 14px;
  color: #ffffff;
}
.footer-copyright .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1rem;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}
@media (min-width: 992px) {
  .footer-copyright .container {
    flex-direction: row;
  }
}

/* Components */
.navbar {
  transition: 0.3s;
}
@media (min-width: 992px) {
  .navbar {
    padding: 0;
  }
}

.navbar-nav .dropdown-menu {
  flex-direction: column;
  padding: 0;
  border: none;
  border-radius: 0;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 0.8rem;
}
@media (min-width: 992px) {
  .navbar-nav .dropdown-menu {
    margin-top: 18px !important;
  }
}
.navbar-nav .dropdown-menu .nav-item {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  border-bottom: 1px solid transparent;
}
.navbar-nav .nav-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
@media (min-width: 992px) {
  .navbar-nav .nav-item {
    min-height: 90px;
  }
}
.navbar-nav .nav-link {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: bold;
}
@media (min-width: 992px) {
  .navbar-nav .nav-link {
    padding-top: 0;
    padding-right: 1rem !important;
    padding-bottom: 0;
    padding-left: 1rem !important;
  }
}

.navbar-dark .navbar-brand,
.navbar-light .navbar-brand {
  color: inherit;
}
.navbar-dark .navbar-brand:hover, .navbar-dark .navbar-brand:focus, .navbar-dark .navbar-brand:active,
.navbar-light .navbar-brand:hover,
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:active {
  color: inherit;
}
.navbar-dark .navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-link {
  color: #ffffff;
}
.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:active, .navbar-dark .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:active,
.navbar-light .navbar-nav .nav-link:focus {
  color: #ffffff;
}

.recent-blog-posts {
  display: grid;
  grid-column-gap: 30px;
}
@media (min-width: 576px) {
  .recent-blog-posts {
    grid-template-columns: repeat(3, 1fr);
  }
}

.blog .post,
.blog .page {
  border-bottom: 1px solid #ffffff;
}

.blog-sidebar .widget {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ffffff;
}

.post {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.post .entry-header > *:not(.alignwide):not(.alignfull),
.post .entry-content > *:not(.alignwide):not(.alignfull) {
  padding-left: 0;
  padding-right: 0;
}

.post-thumbnail {
  display: block;
  margin-bottom: 15px;
  overflow: hidden;
  box-shadow: unset;
  transition: all 0.3s ease;
}
.post-thumbnail figure {
  position: relative;
  margin: 0;
  z-index: -1;
}
.post-thumbnail img {
  transform: scale(1);
  transition: all 0.3s ease;
}
.post-thumbnail:hover img, .post-thumbnail:active img, .post-thumbnail:focus img {
  transform: scale(1.15);
}

.read-more-link {
  font-weight: bold;
  border: 1px solid #ffce00;
  border-radius: 0;
  color: #000000;
  background: #ffce00;
}
.read-more-link:hover, .read-more-link:active, .read-more-link:focus {
  color: #000000;
  background: #e6b900;
  text-decoration: none;
}

.wp-block-cover__inner-container,
.entry-header,
.entry-content {
  width: 100% !important;
}
.wp-block-cover__inner-container > *:not(.alignwide):not(.alignfull),
.entry-header > *:not(.alignwide):not(.alignfull),
.entry-content > *:not(.alignwide):not(.alignfull) {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 576px) {
  .wp-block-cover__inner-container > *:not(.alignwide):not(.alignfull),
.entry-header > *:not(.alignwide):not(.alignfull),
.entry-content > *:not(.alignwide):not(.alignfull) {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .wp-block-cover__inner-container > *:not(.alignwide):not(.alignfull),
.entry-header > *:not(.alignwide):not(.alignfull),
.entry-content > *:not(.alignwide):not(.alignfull) {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .wp-block-cover__inner-container > *:not(.alignwide):not(.alignfull),
.entry-header > *:not(.alignwide):not(.alignfull),
.entry-content > *:not(.alignwide):not(.alignfull) {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .wp-block-cover__inner-container > *:not(.alignwide):not(.alignfull),
.entry-header > *:not(.alignwide):not(.alignfull),
.entry-content > *:not(.alignwide):not(.alignfull) {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .wp-block-cover__inner-container > *:not(.alignwide):not(.alignfull),
.entry-header > *:not(.alignwide):not(.alignfull),
.entry-content > *:not(.alignwide):not(.alignfull) {
    max-width: 1320px;
  }
}
.wp-block-cover__inner-container .alignfull,
.entry-header .alignfull,
.entry-content .alignfull {
  max-width: 100%;
}
.wp-block-cover__inner-container .alignwide,
.entry-header .alignwide,
.entry-content .alignwide {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 576px) {
  .wp-block-cover__inner-container .alignwide,
.entry-header .alignwide,
.entry-content .alignwide {
    max-width: calc(540px + 10%);
  }
}
@media (min-width: 768px) {
  .wp-block-cover__inner-container .alignwide,
.entry-header .alignwide,
.entry-content .alignwide {
    max-width: calc(720px + 10%);
  }
}
@media (min-width: 992px) {
  .wp-block-cover__inner-container .alignwide,
.entry-header .alignwide,
.entry-content .alignwide {
    max-width: calc(960px + 10%);
  }
}
@media (min-width: 1200px) {
  .wp-block-cover__inner-container .alignwide,
.entry-header .alignwide,
.entry-content .alignwide {
    max-width: calc(1140px + 10%);
  }
}
@media (min-width: 1400px) {
  .wp-block-cover__inner-container .alignwide,
.entry-header .alignwide,
.entry-content .alignwide {
    max-width: calc(1320px + 10%);
  }
}

.search-form .search-submit {
  font-weight: bold;
  border: none;
  border-radius: 0;
  border: 1px solid #ffce00;
  color: #000000;
  background: #ffce00;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.search-form .search-submit:hover, .search-form .search-submit:active, .search-form .search-submit:focus {
  color: #000000;
  background: #e6b900;
}

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

.widget img {
  max-width: 100%;
  height: auto;
  border: none !important;
}
.widget ul {
  padding: 0;
  padding-inline-start: 1em;
}
.widget li {
  margin-bottom: 12px;
}
.widget .gallery-item {
  margin-top: 8px !important;
  margin-bottom: 8px;
}

.widget-title {
  font-size: 1.4rem;
}

.tagcloud {
  text-align: center;
}
@media (min-width: 576px) {
  .tagcloud {
    text-align: inherit;
  }
}
.tagcloud .tag-cloud-link {
  display: inline-block;
  margin-bottom: 5px;
  padding: 8px;
  font-size: 1em !important;
  font-weight: bold;
  text-decoration: none;
  border-radius: 0.25em;
  color: #000000;
  background: #ffce00;
}
.tagcloud .tag-cloud-link:hover, .tagcloud .tag-cloud-link:active, .tagcloud .tag-cloud-link:focus {
  color: #000000;
  background: #e6b900;
}

.pagination .nav-links,
.post-navigation .nav-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  font-size: 1.2rem;
}
.pagination .nav-links > *,
.post-navigation .nav-links > * {
  padding: 1rem;
}

.pagination .current {
  color: #000000;
}

.comments .comment-list {
  padding: 0;
}
.comments .comment-list,
.comments .children {
  list-style: none;
}
.comments .comment-body {
  padding: 15px;
  margin-bottom: 1rem;
  border-radius: 0.25em;
}
.comments .comment-form label {
  font-weight: bold;
  margin-bottom: 8px;
}
.comments .comment-reply-link {
  display: inline-block;
  padding: 0.5rem 1rem;
  border: 1px solid #ffce00;
  border-radius: 50px;
  color: #000000;
  background-color: #ffce00;
}
.comments .comment-reply-link:hover {
  border-color: #e6b900;
  color: #000000;
  background-color: #e6b900;
  text-decoration: none;
}
.comments .reply {
  height: auto;
}

/* Select2 */
.select2-container .select2-selection--single {
  height: 2.5rem;
  border-radius: 0;
  border: 1px solid #e4e2e2;
}
.select2-container .select2-selection--single .select2-selection__rendered {
  line-height: 2.5rem;
}
.select2-container .select2-selection--single .select2-selection__arrow {
  height: 2.5rem;
}

/* Select Input Wrapper */
.select-wrapper {
  position: relative;
}
.select-wrapper::after {
  content: "\f078";
  position: absolute;
  top: 50%;
  right: 0.8rem;
  height: 1rem;
  font: normal normal normal 1rem/1 FontAwesome;
  color: #26211d;
  transform: translateY(-50%);
  pointer-events: none;
}
.select-wrapper select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.team-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
}
@media (min-width: 768px) {
  .team-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
.team-grid img {
  max-width: 100%;
  height: auto;
}
.team-grid a {
  color: #ffffff;
}
.team-grid a:hover, .team-grid a:active, .team-grid a:focus {
  text-decoration: none;
  color: #ffce00;
}
.team-grid .team-member {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
}
.team-grid .team-member .infos {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  width: min(100%, 180px);
}
.team-grid .team-member .role,
.team-grid .team-member .title,
.team-grid .team-member .sub-title {
  margin: 0;
}
.team-grid .team-member .title,
.team-grid .team-member .sub-title {
  font-weight: bold;
  color: inherit;
}
.team-grid .team-member .title {
  margin-bottom: 1rem;
  font-size: 1.25rem;
}
.team-grid .team-member .sub-title {
  font-size: 0.8rem;
  line-height: 1;
}
.team-grid .team-member .role {
  font-size: 1.25rem;
  line-height: 1.6;
  text-align: center;
  color: #595959;
}
.team-grid .team-member:hover .excerpt-wrap, .team-grid .team-member:active .excerpt-wrap {
  display: flex;
  opacity: 1;
}
.team-grid .team-member .excerpt-wrap {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: space-evenly;
  top: 0;
  bottom: 0;
  padding: 2rem;
  color: #ffffff;
  background: #02216a;
  opacity: 0;
  transition: all 0.3s;
}
.team-grid .team-member .excerpt-wrap:hover, .team-grid .team-member .excerpt-wrap:active {
  opacity: 1;
}
.team-grid .team-member .excerpt-wrap .sub-title {
  font-size: 1.25rem;
  line-height: initial;
}
.team-grid .team-member .excerpt {
  margin: 0;
}

/* Templates */
.blog > .container,
.single > .container,
.archive > .container {
  padding-top: 150px;
}

.error404 .error-code {
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
.error404 .error-code .container {
  display: flex;
  padding-top: 8rem;
}
@media (min-width: 992px) {
  .error404 .error-code .container {
    padding-top: 16rem;
  }
}
@media (min-width: 1400px) {
  .error404 .error-code .container {
    padding-top: 24rem;
  }
}
.error404 .error-code span {
  font-family: "Acumin Pro", sans-serif;
  font-size: 8rem;
  font-weight: bold;
  line-height: 0.75em;
  color: #ffce00;
}
@media (min-width: 992px) {
  .error404 .error-code span {
    font-size: 16rem;
  }
}
.error404 .error-message {
  background: #ffce00;
  color: #000000;
}
.error404 .error-message .container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
@media (min-width: 992px) {
  .error404 .error-message .container {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}
.error404 .error-message p {
  margin-bottom: 2rem;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}
@media (min-width: 992px) {
  .error404 .error-message p {
    margin-right: initial;
    font-size: 2.4em;
  }
}
@media (min-width: 1440px) {
  .error404 .error-message p {
    font-size: 2.8em;
  }
}
.error404 .error-message a {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  padding: calc(0.667em + 2px) calc(1.333em + 2px);
  text-transform: uppercase;
  border-radius: 50px;
  font-weight: 600;
  color: #000000;
  background: #ffffff;
  box-sizing: border-box;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (min-width: 992px) {
  .error404 .error-message a {
    margin-right: unset;
  }
}
.error404 .error-message a:hover, .error404 .error-message a:active, .error404 .error-message a:focus {
  color: #000000;
  background: #e6b900;
}

/*# sourceMappingURL=frontend-styles.css.map */
