// Navbar

.navbar {
	transition: 0.3s;

	@media (min-width: 992px) {
		padding: 0;
	}
}

.navbar-collapse {
	// Large devices (desktops, 992px and up)
	@media (min-width: 992px) {
		// background: unset;
	}
}

.navbar-nav {
	.dropdown-menu {
		flex-direction: column;
		padding: 0;
		border: none;
		border-radius: 0;
		text-transform: uppercase;
		font-weight: 300;
		font-size: 0.8rem;

		@media (min-width: 992px) {
			margin-top: 18px !important;
		}

		.nav-item {
			padding-top: 0.8rem;
			padding-bottom: 0.8rem;
			border-bottom: 1px solid transparent;
		}
	}

	.nav-item {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100%;

		@media (min-width: 992px) {
			min-height: 90px;
		}
	}

	.nav-link {
		display: flex;
		flex: 1;
		justify-content: center;
		align-items: center;
		width: 100%;

		padding-top: 1rem;
		padding-bottom: 1rem;

		text-transform: uppercase;
		font-size: 0.8rem;
		font-weight: bold;

		@media (min-width: 992px) {
			padding-top: 0;
			padding-right: 1rem !important;
			padding-bottom: 0;
			padding-left: 1rem !important;
		}
	}
}

.navbar-dark,
.navbar-light {
	.navbar-brand {
		color: inherit;

		&:hover,
		&:focus,
		&:active {
			color: inherit;
		}
	}

	.navbar-nav {
		.nav-link {
			color: $menu-link;

			&:hover,
			&:active,
			&:focus {
				color: $menu-link;
			}
		}
	}
}
