// Search Form

.search-form {
	.search-submit {
		font-weight: bold;
		border: none;
		border-radius: 0;
		border: 1px solid $button-border;
		color: $button-text;
		background: $button-bg;
		transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
			box-shadow 0.15s ease-in-out;

		&:hover,
		&:active,
		&:focus {
			color: $button-text-hover;
			background: $button-bg-hover;
		}
	}
}
