/* Select2 */

.select2-container {
	.select2-selection--single {
		height: 2.5rem;
		border-radius: 0;
		border: 1px solid $input-border;

		.select2-selection__rendered {
			line-height: 2.5rem;
		}

		.select2-selection__arrow {
			height: 2.5rem;
		}
	}
}
