// Team Grid

.team-grid {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	gap: 2rem;

	@media (min-width: 768px) {
		grid-template-columns: repeat(3, 1fr);
	}

	img {
		max-width: 100%;
		height: auto;
	}

	a {
		color: $white;

		&:hover,
		&:active,
		&:focus {
			text-decoration: none;
			color: $cyber-yellow;
		}
	}

	.team-member {
		position: relative;
		display: flex;
		flex: 1;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		padding-top: 3.75rem;
		padding-bottom: 3.75rem;

		.infos {
			display: flex;
			flex: 1;
			flex-direction: column;
			justify-content: space-between;
			width: min(100%, 180px);
		}

		.role,
		.title,
		.sub-title {
			margin: 0;
		}

		.title,
		.sub-title {
			font-weight: bold;
			color: inherit;
		}

		.title {
			margin-bottom: 1rem;
			font-size: 1.25rem;
		}

		.sub-title {
			font-size: 0.8rem;
			line-height: 1;
		}

		.role {
			font-size: 1.25rem;
			line-height: 1.6;
			text-align: center;
			color: #595959;
		}

		&:hover,
		&:active {
			.excerpt-wrap {
				display: flex;
				opacity: 1;
			}
		}

		.excerpt-wrap {
			display: flex;
			position: absolute;
			flex-direction: column;
			justify-content: space-evenly;
			top: 0;
			bottom: 0;
			padding: 2rem;
			color: $white;
			background: $royal-blue-dark;
			opacity: 0;
			transition: all 0.3s;

			&:hover,
			&:active {
				opacity: 1;
			}

			.sub-title {
				font-size: 1.25rem;
				line-height: initial;
			}
		}

		.excerpt {
			margin: 0;
		}
	}
}
