form {
	color: $black;

	p {
		font-size: 1em;
		margin-bottom: 1rem;
	}

	label {
		margin: 0;
		width: 100%;
	}
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="password"],
textarea,
select {
	width: 100%;
	padding: 8px;
	border: none;
	border-bottom: 3px solid $input-border;
	border-radius: 0;
	background-clip: padding-box;
	box-sizing: border-box;
	background-color: $input-bg;

	&:focus {
		color: $input-focus;
		border-color: $input-border-focus;
		outline: none;
	}
}

input[type="submit"] {
	display: block;
	margin: 0 auto;
	padding: 7px 25px;
	text-transform: uppercase;
	border: 2px solid $button-border;
	border-radius: 50px;
	font-weight: 600;
	color: $button-text;
	background: $button-bg;
	box-sizing: border-box;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
		box-shadow 0.15s ease-in-out;

	&:hover,
	&:active,
	&:focus {
		border-color: $button-border-hover;
		color: $button-text-hover;
		background: $button-bg-hover;
	}
}

textarea {
	max-height: 100px;
}

select {
	position: relative;
	width: 100%;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	border-radius: 0;
	background-image: url("../../svg/dropdown-arrow.svg");
	background-position: right 10px center;
	background-repeat: no-repeat;
	background-size: auto 50%;

	/* IE11 hide native button */
	&::-ms-expand {
		display: none;
	}
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
	transition: background-color 5000s ease-in-out 0s;
	border: none;
	box-shadow: 0 0 0 1000px transparent inset;
	-webkit-text-fill-color: $black;
	border: none;
	border-bottom: 3px solid $input-border;
	border-radius: 0;
}

::placeholder {
	color: $input-placeholder;
	opacity: 1;
}

:-ms-input-placeholder {
	color: $input-placeholder;
}

::-ms-input-placeholder {
	color: $input-placeholder;
}
