// Footer
.footer {
	background-color: $royal-blue-dark;
}

.footer-widgets {
	padding: 4rem 0;

	.container {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 1rem;
		align-items: stretch;
		text-align: center;

		@media (min-width: 992px) {
			flex-direction: row;
			text-align: initial;
		}
	}

	.widget-column {
		display: flex;
		flex: 1;
		flex-direction: column;
		justify-content: center;
	}

	.widget {
		color: $white;

		ul {
			list-style: none;
			padding: 0;

			// Large devices (desktops, 992px and up)
			@media (min-width: 992px) {
				padding: initial;
			}
		}

		.widget-title {
			margin-bottom: 30px;
			color: $white;
		}
	}

	.widget_block {
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			margin-bottom: 30px;
		}
	}

	.wp-block-media-text {
		gap: 0.5rem;

		@media (min-width: 992px) {
			&.is-stacked-on-mobile {
				.wp-block-media-text__media {
					justify-content: flex-start;
				}
			}
		}
	}

	.wp-block-social-links {
		@media (max-width: 991.98px) {
			justify-content: center;
		}
	}

	.wp-block-buttons {
		@media (max-width: 991.98px) {
			justify-content: center;
		}
	}
}

.footer-menu {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	margin: 1rem 0 2rem;
	padding: 0;
	list-style: none;
	text-transform: uppercase;
	font-size: 1rem;
	font-weight: bold;
	color: $white;

	@media (min-width: 992px) {
		flex-direction: row;
	}
}

.footer-copyright {
	font-size: 14px;
	color: $white;

	.container {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		padding: 2rem 1rem;
		border-top: 1px solid rgba($white, 0.5);

		@media (min-width: 992px) {
			flex-direction: row;
		}
	}
}
