// Header

#header {
	position: absolute;
	width: 100%;
	z-index: 1080;

	.navbar {
		color: $white;
		background: $royal-blue-dark;
	}

	&.sticky {
		position: relative;

		.navbar {
			position: fixed;
			top: 0;
			width: 100%;
		}
	}
}
