// WP Block List with arrow as marker

.is-style-arrow {
	li {
		&::marker {
			content: "\2192";
			font-family: Arial, Helvetica, sans-serif;
			font-size: 1.5rem;
			letter-spacing: 0.5rem;
			color: #02216a;
		}
	}
}
