// WP Block Media and Text, but size to use as media a icon that is small

.is-style-icon-text {
	grid-template-columns: min(30px, 15%) auto !important;
	gap: 1rem;
	margin-bottom: 8%;

	.wp-block-media-text__content {
		padding: 0;
	}

	&.is-stacked-on-mobile {
		text-align: center;

		@media (min-width: 992px) {
			text-align: initial;
		}

		.wp-block-media-text__media,
		.wp-block-media-text__content {
			margin-bottom: 0;
		}
	}
}
