// Types

body {
	font-family: "Acumin Pro", sans-serif;
	-webkit-font-smoothing: antialiased;
	color: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
	font-weight: 200;
	color: #26211d;
}

strong {
	font-weight: 600;
}
