// WP Block Separator

.wp-block[data-align="center"] {
	.wp-block-separator {
		margin-left: auto;
		margin-right: auto;
	}
}

.wp-block-separator {
	margin-left: unset;
	margin-right: unset;
	opacity: 1;

	&.aligncenter {
		margin-left: auto;
		margin-right: auto;
	}

	&:not(.is-style-dots) {
		border-bottom: 2px solid;
	}

	&:not(.is-style-wide):not(.is-style-dots) {
		width: 40px !important;
	}
}
