// Block Media and Text

.wp-block-media-text {
	img {
		width: unset;
		max-width: 100%;
		height: auto;
	}

	&.is-image-fill {
		.wp-block-media-text__media {
			@media (min-width: 992px) {
				min-height: 450px;
			}
		}
	}

	@media (min-width: 992px) {
		&.alignfull {
			.wp-block-media-text__content {
				padding: 0 16% 0 8%;
			}

			&.has-media-on-the-right {
				.wp-block-media-text__content {
					padding: 0 8% 0 16%;
				}
			}
		}
	}

	.wp-block-media-text__content {
		*:last-child {
			margin-bottom: 0;
		}
	}

	&.is-stacked-on-mobile {
		@media (max-width: 767.98px) {
			.wp-block-media-text__media,
			.wp-block-media-text__content {
				margin-bottom: 8%;
			}
		}

		.wp-block-media-text__media {
			display: flex;
			justify-content: center;
		}
	}
}
