// WP Block Gallery

.wp-block-gallery {
	@media (max-width: 767.98px) {
		.blocks-gallery-grid {
			display: grid;
			grid-template-columns: 1fr 1fr;

			width: 100%;

			.blocks-gallery-item {
				margin: 0;
				width: 100%;
			}
		}
	}
}
