// Buttons

// Button alignment correction
.wp-block-buttons.alignright {
	text-align: right;

	.wp-block-button {
		margin-right: unset;
	}
}

.wp-block-button__link {
	display: inline;
	padding: calc(0.667em + 6px) calc(1.333em + 6px);
	transition: all 0.15s;

	&:hover,
	&:focus,
	&:active {
		filter: brightness(80%);
		text-decoration: none;
	}
}
