/* Webfonts */

// Note: Need to be enqueued in Block Editor Assets to be applied there too

@font-face {
	font-family: "Acumin Pro";
	src: url("../../fonts/AcuminPro-Regular.woff2") format("woff2"),
		url("../../fonts/AcuminPro-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Acumin Pro";
	src: url("../../fonts/AcuminPro-Italic.woff2") format("woff2"),
		url("../../fonts/AcuminPro-Italic.woff") format("woff");
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Acumin Pro";
	src: url("../../fonts/AcuminPro-Bold.woff2") format("woff2"), url("../../fonts/AcuminPro-Bold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Acumin Pro";
	src: url("../../fonts/AcuminPro-BoldItalic.woff2") format("woff2"),
		url("../../fonts/AcuminPro-BoldItalic.woff") format("woff");
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}
