// 404 Error Page

.error404 {
	.error-code {
		background-position: center bottom;
		background-repeat: no-repeat;
		background-size: cover;

		.container {
			display: flex;
			padding-top: 8rem;

			@media (min-width: 992px) {
				padding-top: 16rem;
			}

			@media (min-width: 1400px) {
				padding-top: 24rem;
			}
		}

		span {
			font-family: "Acumin Pro", sans-serif;
			font-size: 8rem;
			font-weight: bold;
			line-height: 0.75em;
			color: $cyber-yellow;

			@media (min-width: 992px) {
				font-size: 16rem;
			}
		}
	}

	.error-message {
		background: $cyber-yellow;
		color: $black;

		.container {
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			align-items: flex-start;
			padding-top: 3rem;
			padding-bottom: 3rem;

			@media (min-width: 992px) {
				padding-top: 5rem;
				padding-bottom: 5rem;
			}
		}

		p {
			margin-bottom: 2rem;
			font-weight: bold;
			font-size: 2em;
			text-align: center;

			@media (min-width: 992px) {
				margin-right: initial;
				font-size: 2.4em;
			}
			@media (min-width: 1440px) {
				font-size: 2.8em;
			}
		}

		a {
			display: inline-block;
			margin-left: auto;
			margin-right: auto;
			padding: calc(0.667em + 2px) calc(1.333em + 2px);
			text-transform: uppercase;
			border-radius: 50px;
			font-weight: 600;
			color: $button-text;
			background: $white;
			box-sizing: border-box;
			transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
				box-shadow 0.15s ease-in-out;

			@media (min-width: 992px) {
				margin-right: unset;
			}

			&:hover,
			&:active,
			&:focus {
				color: $button-text-hover;
				background: $button-bg-hover;
			}
		}
	}
}
