/* Woocommerce Product - PHive Booking */

.woocommerce-page {
	div.product-type-phive_booking {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		gap: 1rem 2rem;
		grid-template-areas:
			"title"
			"images"
			"price"
			"excerpt"
			"meta "
			"calendar"
			"tabs"
			"related";

		// X-Large devices (large desktops, 1200px and up)
		@media (min-width: 1200px) {
			grid-template-columns: repeat(2, 1fr);
			grid-template-areas:
				"title title"
				"images calendar"
				"price price"
				"excerpt excerpt"
				"meta meta"
				"entry entry"
				"tabs tabs"
				"related related";
		}

		div.summary,
		div.images {
			float: unset;
			width: 100%;
		}

		// Just a Placeholder Class
		.mp-0 {
			margin: 0;
			padding: 0;
		}

		.entry-title {
			grid-area: title;
			@extend .mp-0;
		}

		.images,
		.woocommerce-product-gallery {
			@extend .mp-0;
			grid-area: images;
		}

		.calendar-booking {
			grid-area: calendar;
		}

		.price {
			grid-area: price;
			@extend .mp-0;
		}

		.woocommerce-product-details__short-description {
			grid-area: excerpt;
			@extend .mp-0;
		}

		.product_meta {
			grid-area: meta;
			@extend .mp-0;
		}

		form.cart {
			@extend .mp-0;

			.asset-section {
				margin-bottom: 3rem;
			}
		}

		.extra-resources {
			select {
				padding-top: 0.5rem;
				padding-right: unset;
				padding-bottom: 0.5rem;
				padding-left: unset;
				border-radius: 0 !important;
				background-image: none;
			}
		}

		.woocommerce-tabs {
			grid-area: tabs;
		}

		.related {
			grid-area: related;
		}
	}
}
