// Color Pallete

$white: #ffffff;
$platinum: #e4e2e2;
$royal-blue-dark: #02216a;
$cyber-yellow: #ffce00;
$black-chocolate: #26211d;
$black: #000000;

$input-placeholder: $black-chocolate;
$input-border: $platinum;
$input-focus: $platinum;
$input-border-focus: $platinum;
$input-bg: $platinum;

$button-text: $black;
$button-text-hover: $black;
$button-border: $cyber-yellow;
$button-border-hover: darken($button-border, 5%);
$button-bg: $cyber-yellow;
$button-bg-hover: darken($button-bg, 5%);

$header-bg: $royal-blue-dark;
$menu-link: $white;
$menu-link-hover: $cyber-yellow;
