@charset "UTF-8";
/* Shared Styles */
body {
  font-family: "Acumin Pro", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-weight: 200;
  color: #26211d;
}

strong {
  font-weight: 600;
}

@media (min-width: 576px) {
  .wp-block {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .wp-block {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .wp-block {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .wp-block {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .wp-block {
    max-width: 1320px;
  }
}

@media (min-width: 576px) {
  .wp-block[data-align=wide] {
    max-width: calc(540px + 10%);
  }
}
@media (min-width: 768px) {
  .wp-block[data-align=wide] {
    max-width: calc(720px + 10%);
  }
}
@media (min-width: 992px) {
  .wp-block[data-align=wide] {
    max-width: calc(960px + 10%);
  }
}
@media (min-width: 1200px) {
  .wp-block[data-align=wide] {
    max-width: calc(1140px + 10%);
  }
}
@media (min-width: 1400px) {
  .wp-block[data-align=wide] {
    max-width: calc(1320px + 10%);
  }
}

.wp-block[data-align=full] {
  max-width: none;
}

@media (max-width: 767.98px) {
  .wp-block-gallery .blocks-gallery-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }
  .wp-block-gallery .blocks-gallery-grid .blocks-gallery-item {
    margin: 0;
    width: 100%;
  }
}

.wp-block-group *:last-child {
  margin-bottom: 0;
}

.wp-block-cover,
.wp-block-cover-image {
  padding: 0;
}
.wp-block-columns {
  margin-bottom: 0;
}

.wp-block-column {
  border-radius: 0.5rem;
}
.wp-block-column.has-background {
  padding: 2rem;
}

.wp-block-quote {
  border-color: #fff;
}

.wp-block-buttons.alignright {
  text-align: right;
}
.wp-block-buttons.alignright .wp-block-button {
  margin-right: unset;
}

.wp-block-button__link {
  display: inline;
  padding: calc(0.667em + 6px) calc(1.333em + 6px);
  transition: all 0.15s;
}
.wp-block-button__link:hover, .wp-block-button__link:focus, .wp-block-button__link:active {
  filter: brightness(80%);
  text-decoration: none;
}

.wp-block-image {
  margin-bottom: 0;
}
.wp-block-image img {
  max-width: 100%;
  height: auto;
}

.wp-block[data-align=center] .wp-block-separator {
  margin-left: auto;
  margin-right: auto;
}

.wp-block-separator {
  margin-left: unset;
  margin-right: unset;
  opacity: 1;
}
.wp-block-separator.aligncenter {
  margin-left: auto;
  margin-right: auto;
}
.wp-block-separator:not(.is-style-dots) {
  border-bottom: 2px solid;
}
.wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
  width: 40px !important;
}

.wp-block-media-text img {
  width: unset;
  max-width: 100%;
  height: auto;
}
@media (min-width: 992px) {
  .wp-block-media-text.is-image-fill .wp-block-media-text__media {
    min-height: 450px;
  }
}
@media (min-width: 992px) {
  .wp-block-media-text.alignfull .wp-block-media-text__content {
    padding: 0 16% 0 8%;
  }
  .wp-block-media-text.alignfull.has-media-on-the-right .wp-block-media-text__content {
    padding: 0 8% 0 16%;
  }
}
.wp-block-media-text .wp-block-media-text__content *:last-child {
  margin-bottom: 0;
}
@media (max-width: 767.98px) {
  .wp-block-media-text.is-stacked-on-mobile .wp-block-media-text__media,
.wp-block-media-text.is-stacked-on-mobile .wp-block-media-text__content {
    margin-bottom: 8%;
  }
}
.wp-block-media-text.is-stacked-on-mobile .wp-block-media-text__media {
  display: flex;
  justify-content: center;
}

.wp-block-social-links .wp-social-link {
  margin: 0 !important;
  padding: 0 !important;
}
.wp-block-social-links .wp-social-link svg {
  width: 2rem;
  height: 2rem;
}

.has-small-font-size {
  font-size: 12px;
}

.has-normal-font-size {
  font-size: 16px;
}

.has-medium-font-size {
  font-size: 20px;
}

.has-big-font-size {
  font-size: 32px;
}

.has-huge-font-size {
  font-size: 48px;
}

@media (max-width: 767.98px) {
  .has-huge-font-size {
    font-size: 48px;
  }
}

.has-white-color {
  color: #ffffff !important;
}

.has-white-background-color {
  background-color: #ffffff !important;
}

.has-platinum-color {
  color: #e4e2e2 !important;
}

.has-platinum-background-color {
  background-color: #e4e2e2 !important;
}

.has-royal-blue-dark-color {
  color: #02216a !important;
}

.has-royal-blue-dark-background-color {
  background-color: #02216a !important;
}

.has-cyber-yellow-color {
  color: #ffce00 !important;
}

.has-cyber-yellow-background-color {
  background-color: #ffce00 !important;
}

.has-black-chocolate-color {
  color: #26211d !important;
}

.has-black-chocolate-background-color {
  background-color: #26211d !important;
}

.has-black-color {
  color: #000000 !important;
}

.has-black-background-color {
  background-color: #000000 !important;
}

.is-style-icon-text {
  grid-template-columns: min(30px, 15%) auto !important;
  gap: 1rem;
  margin-bottom: 8%;
}
.is-style-icon-text .wp-block-media-text__content {
  padding: 0;
}
.is-style-icon-text.is-stacked-on-mobile {
  text-align: center;
}
@media (min-width: 992px) {
  .is-style-icon-text.is-stacked-on-mobile {
    text-align: initial;
  }
}
.is-style-icon-text.is-stacked-on-mobile .wp-block-media-text__media,
.is-style-icon-text.is-stacked-on-mobile .wp-block-media-text__content {
  margin-bottom: 0;
}

.is-style-arrow li::marker {
  content: "→";
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  letter-spacing: 0.5rem;
  color: #02216a;
}

.is-style-yellow-border {
  flex: 1;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  border: 1px solid #ffce00;
}

/*# sourceMappingURL=shared-styles.css.map */
